@using System.Data.Entity
@model IEnumerable<WebApplication4.DAL.LoanApplication>

@{
    ViewBag.Title = "Index";
}

<h2>My Loans</h2>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Months)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Months)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

        </tr>
    }

</table>

<h2>@ViewBag.message</h2>
<a href="/Loan/Apply" class="btn btn-info"> Start a new Apply </a>

